<div class="form-container" [formGroup]="fControl">
  <label>{{inputData.labelName}}</label>
    @if (inputData.multiply) {
        <ng-container formArrayName="{{inputData.inputName}}">
          <div class="fields">
            <!-- От @for отказался, потому что с ним всегда удалялся последний элемент масива-->
            <ng-container *ngFor="let control of getControls(); let i = index">
                <div class="container-with-buttons">
                  <input type="text" [name]="inputData.inputName" [formControlName]="i" [required]="inputData.required">
                  <remove-button *ngIf="inputData.multiply && i !== 0" (click)="removeControlItem(i)"></remove-button>
                  <add-button *ngIf="inputData.multiply && i == getControls().length - 1" (click)="addControlItem()"></add-button>
                </div>
            </ng-container>
          </div>

        </ng-container>
    } @else {
          <input type="text" [name]="inputData.inputName" [formControlName]="inputData.inputName" [required]="inputData.required">
    }
</div>
