<div class="form-item" [formGroup]="fControl">
  <label>{{inputData.labelName}}</label>
    @if (inputData.multiply) {
      <ng-container formArrayName="{{inputData.inputName}}">
        <div class="field-container">
          @for (control of getControls(); let i = $index; track i) {
              <input type="text" [name]="inputData.inputName" [formControlName]="i" [required]="inputData.required">
            }
        </div>
      </ng-container>
    } @else {
      <div class="field-container">
          <input type="text" [name]="inputData.inputName" [formControlName]="inputData.inputName" [required]="inputData.required">
      </div>
    }
</div>
