label {
  height: 24px;
}

input {
  width: 300px;
}

input[name=name] {
  width: 500px;
}

.container-with-buttons {
  display: flex;
  align-items: center;
}
.container-with-buttons:not(:last-child) {
  margin-bottom: 15px;
}

.fields {
  display: flex;
  flex-direction: column;
}
