.ellipse {
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-left: 15px;
  margin-bottom: 24px;
  display: flex;
  cursor: pointer;
}

.vector {
  position: absolute;
  width: 14px;
  height: 0;
  border: 1px solid #000000;
}

.vertical {
  transform: rotate(90deg);
}

.text {
  margin-left: 7px;
  font-size: 17px;
}
