@import "../../../styles";
.button {
  @include btn;
  display: flex;
}

.ellipse {
  @include ellipse(#FFFFFF);
  border: 1px solid #000000;
}

.vector {
  @include vector(#000000);
}

.vertical {
  transform: rotate(90deg);
}

.text {
  margin-left: 7px;
  font-size: 17px;
}
