<div class="form-block">
  <p class="title">Анкета</p>
  <form [formGroup]="testForm">
<!--  @for  Type IForm[] must have a [Symbol. iterator]() method that returns an iterator.-->
    <!--@for (form of forms; track form.type) {
      @switch (form.type) {
        @case ('text') {
          @for (textInputItem of form.formList; track textInputItem.id) {
            <test-input [inputData]="textInputItem"></test-input>
          }
        }
        @case ('number') {
          @for (numberInputItem of form.formList; track numberInputItem.id) {
            <test-number [inputData]="numberInputItem"></test-number>
          }
        }
        @case ('select') {
          @for (selectInputItem of form.formList; track selectInputItem.id) {
            <test-select [inputData]="selectInputItem"></test-select>
          }
        }
        @case ('checkbox') {
          @for (checkboxInputItem of form.formList; track checkboxInputItem.id) {
            <test-checkbox [inputData]="checkboxInputItem"></test-checkbox>
          }
        }
      }
    }-->
    @for (form of forms; track form.id) {
      @switch (form.type) {
        @case ('text') {
          <div class="form-container">
            <test-input [inputData]="form" [fControl]="testForm"></test-input>
            <add-button *ngIf="form.multiply" (click)="addFormControl(form.inputName)"></add-button>
          </div>
        }
        @case ('number') {
          <test-number [inputData]="form" [fControl]="testForm"></test-number>
        }
        @case ('select') {
          <test-select [inputData]="form"></test-select>
        }
        @case ('checkbox') {
          <test-checkbox [inputData]="form"></test-checkbox>
        }
      }
    }
  </form>
</div>
