.form-block {
  margin-top: 87px;
  margin-left: 135px;
}

.title{
  /* Анкета */
  position: absolute;
  width: 314px;
  height: 51px;
  left: 135px;
  top: 87px;
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 41px;
  line-height: 53px;
  color: #000000;
}
