<div class="form-container">
    <label>{{inputData.labelName}}</label>
  <div class="select-container">
    <div class="select-selected" [ngClass]="opened ? 'opened' : 'closed'" (click)="openSelect()">
      {{selectedOption}}
    </div>
    <div class="select-items" [ngClass]="opened ? 'select-opened' : 'select-closed'">
          @for (option of inputData.options; track option.id) {
            <div (click)="select(option.value)" [ngClass]="option.value == selectedOption ? 'selected' : ''">{{option.value}}</div>
          }
    </div>
  </div>
</div>
