input {
  width: 70px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type='number'] {
  -moz-appearance:textfield;
}

.container-with-buttons {
  display: flex;
  align-items: center;
}

.field-container {
  display: flex;
}

.container-with-add-btn {
  display: flex;
  align-items: end;
}

.container-with-del-btn {
  display: flex;
  align-items: center;
}
