/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: 'PT Sans', serif;
  font-style: normal;
}
$marginIndent: 17px;
$labelWidth: 140px;

@mixin ellipse($b-color) {
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  background: $b-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin btn {
  margin-left: 15px;
  cursor: pointer;
}
@mixin vector($border-color) {
  position: absolute;
  width: 14px;
  height: 0;
  border: 1px solid $border-color;
}

input, select {
  margin-left: $marginIndent;
  padding: 13px 15px 10px 15px;
  font-size: 17px;
  box-sizing: border-box;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
}

select {
  width: 300px;
}

label, legend {
  width: $labelWidth;
  font-size: 17px;
  display: inline-block;
  line-height: 22px;
}

.form-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.submit-button {
  position: relative;
  left: $labelWidth + $marginIndent;
}
