<div class="form-container" [formGroup]="fControl">
  <legend>{{inputData.labelName}}</legend>
  <div class="checkboxes">
    @for (option of inputData.options; track option.id) {
      <div class="checkbox-item" formArrayName="{{inputData.inputName}}">
        <input type="checkbox" [id]="inputData.inputName+$index"
               [name]="inputData.inputName"
               [value]="option.value"
               [checked]="option.selected"
               (change)="changeCheckbox($event, option.id)"
        />
        <label [for]="inputData.inputName+$index">{{option.value}}</label>
      </div>
    }
    <div class="checkbox-item">
      <input type="checkbox" id="check-all" [name]="inputData.inputName" (change)="checkAll($event)" />
      <label for="check-all"><strong>Выделить все</strong></label>
    </div>
  </div>
</div>
