button {
  width: 139px;
  height: 52px;
  border-radius: 3px;
  background: #FFE783;
  border: none;
  padding-top: 15px;
  padding-bottom: 30px;
  font: inherit;
  box-shadow: 0 2px 1px 0 rgba(199, 178, 88, 0.8);
  cursor: pointer;
}

button:hover {
  opacity: 70%;
}
