.button {
  margin-left: 15px;
  cursor: pointer;
}

.ellipse {
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  background: #FC6363;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vector {
  position: absolute;
  width: 14px;
  height: 0;
  border: 1px solid #FFFFFF;
}

.vertical {
  transform: rotate(-45deg);
}

.horizontal {
  transform: rotate(45deg);
}
